* {
    box-sizing: border-box;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lato';
    background-color: $light-grey;
    padding: 3em 0;

    &__head {
        font-size: 2em;
    }

    &__pic {
        width: 50%;
        border-radius: 50%;
    }

    &__parablock {
        text-align: left;
        padding: 0 2em;

        em {
            text-decoration: underline solid $green 5px;
            font-style: normal;
        }

        &__para-touch {
            font-size: 1.1em;
            font-weight: bold;
            text-align: center;
            margin: 1.5em 0;
        }


    }

    button {
        background-color: $green;
        font-size: 1.25em;
        padding: .5em 3em;
        border: 0;
        color: white;
        border-radius: 10px;
        box-shadow: 2px 2px 8px gray;

    }

}