html {
  font-family: "Lato", Helvetica, sans-serif;
}

body {
  width: 100%;
  margin-left: 0px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.fixed-bar {
  position: fixed;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 5vh;
  margin-top: -0.5em;
  background-color: white;
}

.home {
  background-color: #393939;
  background-image: url("../img/bg.jpg");
  width: 100%;
  height: 80vh;
  color: white;
  text-align: center;
  margin-top: 6%;
  scroll-margin-top: 6em;
  font-size: 2em;
}

.nav-item {
  width: 16.8vw;
  padding-top: 8px;
  text-align: center;
  background-color: #393939;
  text-decoration: none;
  color: white;
  overflow: hidden;
  font-weight: 300;
}

.logo {
  padding: 2px 0 2px 2px;
  width: 16vw;
  background-color: white;
  flex: 0 2;
}

.nav-item:hover {
  color: #393939;
  background-color: #54be90;
}

.head {
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
  flex-wrap: wrap;
}

.headt {
  font-weight: 400;
}

.head-name {
  color: #54be90;
  border-bottom: 0.15em solid white;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.head-sec {
  margin-top: -0.5em;
}

.intro {
  background-color: #ebebeb;
}

.intro__description {
  align-self: center;
  text-align: center;
  font-size: 1.5em;
  margin: 3.5em;
}

.intro__paras {
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-color: #232323;
  color: white;
  padding-bottom: 2em;
  flex-wrap: wrap;
}

.intro__paras>* {
  flex: 0 1 300px;
}

.circle {
  width: 10vw;
  height: 5vw;
  background-color: #ebebeb;
  align-self: center;
  border-radius: 0 0 10vw 10vw;
}

.columni {
  font-weight: 300;
  width: 20%;
  font-size: 1.2em;
}

.intro__head {
  font-size: 1.3em;
  margin-top: 1.5em;
  font-weight: 900;
  color: #54be90;
}

.para {
  align-self: center;
  width: 70%;
}

.skills__head {
  font-size: 4em;
  color: #54be90;
  margin-top: 1.5em;
}

.skills {
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}

.skillset__list {
  width: 60%;
}

.skills-bar {
  justify-content: space-between;
  background-color: #54be90;
  margin: 1.5% 0;
  color: #444;
  height: 3em;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #393939;
  margin: 0 -2.1%;
  width: 20%;
  color: white;
  font-size: 1.2em;
  /* width: fit-content; */
}

.perc {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #ebebeb;
  margin: 0 -2.1%;
  padding: 0 2%;
}

.s50 {
  width: 38%;
}

.s60 {
  width: 29.66%;
}

.s70 {
  width: 21.33%;
}

.s80 {
  width: 13%;
}

.portfolio {
  background-color: #54be90;
  justify-content: center;
  align-items: center;
}

.portfolio__head {
  margin-top: 1.5em;
  font-size: 4em;
  color: white;
}

.cards {
  justify-content: center;
  flex-wrap: wrap;
  margin: 4em;
}

.card {
  width: 400px;
  height: 300px;
  background-color: white;
  margin: 0.5em;
}

.about {
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}

.about__head {
  font-size: 4em;
  margin-top: 1.5em;
}

.about__content {
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 4em;
}

.about__content>* {
  flex: 0 1 300px;
}

.parablock {
  width: 30%;
  margin: 2em;
}

.aboutpic {
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin: 2em;
  align-self: center;
}

.aboutpara {
  margin-bottom: 1.5em;
}

.aboutpara:hover {
  text-decoration: underline;
  text-decoration-color: #54be90;
  text-decoration-thickness: 3px;
}

.getintouch {
  font-size: 1.3em;
  font-weight: 700;
  margin-top: 1.5em;
}

.contact__button {
  font-family: "Lato";
  border: 0;
  background-color: #54be90;
  color: white;
  font-size: 1.2em;
  width: 40%;
  border-radius: 5px;
  box-shadow: 0 4px 12px black;
}

.contact__button:hover {
  cursor: pointer;
  background-color: white;
  color: #232323;
}

.findme {
  align-items: center;
  background-color: #232323;
  padding: 2em;
}

.findme__head {
  font-weight: 900;
  color: white;
}

.findme__icons {
  justify-content: space-evenly;
  width: 80%;
  margin: 2em;
}

.findme__icon {
  // filter: invert();
  width: 5em;
}

.contact {
  align-items: center;
  background-color: #54be90;
  color: white;
  padding: 3em 6em;
}

.contacthead {
  font-size: 4em;
}

.contact__form {
  justify-content: center;
  flex-wrap: wrap;
}

.form__element {
  width: 30vw;
  margin: 1em;
}

.form__message {
  width: 65vw;
}

.form__message-placeholder {
  align-self: flex-end;
}